.container img {
    width: 550px;
    height: 550px;
    margin-top: 20px;
}
.short-description {
  color: 'purple';
}
.link {
  color: 'orange';
  text-decoration: none;
  padding-right: 10px;  
}
p {
  font-style: italic;
}
.navbar-brand {
  color: 'lightcoral';
}
