.nav {
  margin: 0 5 0 5 !important;
}
.container img {
    width: 550px;
    height: 550px;
    margin-top: 20px;
}
.short-description {
  color: #cc8899;
}
p {
  font-style: italic;
}
h2, .container {
  text-align: center;
}
.link {
 color: purple;
 text-decoration: none; 
}
