.nav {
  margin: 0 5 0 5 !important;
}
.container img {
    width: 550px;
    height: 550px;
    margin-top: 20px;
}
.short-description {
  color: 'purple';
}
p {
  font-style: italic;
}
nav .navbar .navbar-brand a{
  color: 'lightcoral' !important;
} 
